<a data-ng-if="dir.path != treeScope.pathBase"
   data-ng-href="#{{ constants.HASH_PREFIX }}/path/{{ dir.path | pathify }}">
  {{ dir.name }}
</a>
<ul data-ng-if="tree[dir.name].files.length > 0">
  <li data-ng-repeat="file in tree[dir.name].files">
    <a data-ng-href="{{ dir.path | depathify }}/{{ file.name }}">
      {{ file.name }}
    </a>
  </li>
</ul>
<ul data-ng-repeat="dir in tree[dir.name].dirs"
    data-ng-init="tree = tree[$parent.dir.name]">
  <li data-ng-include="'views/subtree.html'"></li>
</ul>
