<a ng-if="dir.path != treeScope.pathBase"
   ng-href="path/{{ dir.path | pathify }}">
  {{ dir.name | aye }}
</a>
<ul ng-if="tree[dir.name].files.length > 0">
  <li ng-repeat="file in tree[dir.name].files"
      ng-class="{ 'unsupported' : !djvBrowser.isVideoSupported(file.name) }">
    <a target="_self" ng-href="{{ dir.path | depathify }}/{{ file.name }}">[▼]</a>
    <a ng-href="player/{{ dir.path | pathify }}{{ constants.PATHIFY_SEPARATOR }}{{ file.name }}">
       {{ file.name | aye }}</a>
    <br>
    {{ file.size | filesize:0:'MiB' }}
    -
    <span am-time-ago="file.mtime"></span>
  </li>
</ul>
<ul ng-repeat="dir in tree[dir.name].dirs"
    ng-init="tree = tree[$parent.dir.name]">
  <li ng-include="'/views/subtree.html'"></li>
</ul>
